body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #0a693a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}






body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
}

.navbar {
  background: #2e8b57;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.form-box {
  background: white;
  max-width: 450px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

.form-box h2 {
  text-align: center;
  color: #2e8b57;
  margin-bottom: 1.5rem;
}

.form-box input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-box button {
  width: 100%;
  background-color: #2e8b57;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}
